/* Generic */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	scrollbar-3dlight-color: #f7f7f7;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #f7f7f7;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #ffffff;
	scrollbar-track-color: #F5F5F5;
	background: #ffffff;
	padding: 0px;
	margin: 8px 8px 0px 8px;
}

html {
	background: #ffffff;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

textarea {
	resize: none;
	outline: none;
}

a:link, a:visited {
	color: black;
}

a:hover {
	color: #2B6FB6;
}

.nowrap {
	white-space: nowrap
}

/* Forms */
fieldset {
	margin: 0px;
	padding: 4px;
	font-family: Verdana, Arial;
	font-size: 12px;
	border: 1px solid #d8d8d8;
}

legend {
	color: #2B6FB6;
	font-weight: bold;
}

label.msg {
	display: none;
}

label.invalid {
	color: #EE0000;
	display: inline;
}

input.invalid {
	border: 1px solid #EE0000;
}

input {
	background: #ffffff;
}

input, select, textarea {
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input, select, textarea {
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
}

input.radio {
	border: 1px none #000000;
	background: transparent;
	vertical-align:middle;
}

input.checkbox {
	vertical-align:middle;
	border:1px none #000000;
	background:transparent;
}

.input_noborder {
	border: 0px;
}

/* Buttons */
#insert, #cancel, input.button, .updateButton {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	width: 75px;
	height: 26px;
	background: url(img/buttons.gir) 0px 0px;
	cursor: pointer;
	float: left;
}

#insert {
	background: url(img/buttons.gif) 0px 0px;
}

#insert:hover {
	background: url(img/buttons.gif) 0px -30px;
}

#cancel {
	background: url(img/buttons.gif) 0px 0px;
	float: right;
}

#insert:hover {
	background: url(img/buttons.gif) 0px -30px;
}

/* Browse */
a.pickcolor, a.browse {
	text-decoration: none
}

a.browse span {
	display: block;
	width: 20px;
	height: 18px;
	background: url(../../img/icons.gif) -860px 0px;
	border: 1px solid #FFF;
	margin-left: 1px;
}

.mceOldBoxModel a.browse span {
	width: 22px;
	height: 20px;
}

a.browse:hover span {
	border: 1px solid #0A246A;
	background-color: #B2BBD0;
}

a.browse span.disabled {
	border: 1px solid white;
	opacity: 0.3;
	-ms-filter: 'alpha(opacity=30)';
	filter:alpha(opacity=30)
}

a.browse:hover span.disabled {
	border: 1px solid white;
	background-color: transparent;
}

a.pickcolor span {
	display: block;
	width: 20px;
	height: 16px;
	background: url(../../img/icons.gif) -840px 0px;
	margin-left: 2px;
}

.mceOldBoxModel a.pickcolor span {
	width: 21px;
	height: 17px;
}

a.pickcolor:hover span {
	background-color: #B2BBD0;
}

a.pickcolor:hover span.disabled {}

/* Charmap */
table.charmap {
	border: 1px solid #AAA;
	text-align: center;
}

td.charmap, #charmap a {
	width: 18px;
	height: 18px;
	color: #000;
	border: 1px solid #AAA;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
	line-height: 18px;
}

#charmap a {
	display: block;
	color: #000;
	text-decoration: none;
	border: 0px;
}

#charmap a:hover {
	background: #CCC;
	color: #2B6FB6;
}
#charmap #codeN {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center
}

#charmap #codeV {
	font-size: 40px;
	height: 80px;
	border: 1px solid #AAA;
	text-align: center
}

/* Source */
.wordWrapCode {
	vertical-align: middle;
	border: 1px none #000000;
	background: transparent;
}

.mceActionPanel {
	margin-top: 5px;
}

/* Tabs classes */
.tabs {
	width: 100%;
	height: 20px;
	line-height: normal;
	background: url(img/tabs.gif) repeat-x 0 -100px;
}

.tabs ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.tabs li {
	float: left;
	background: url(img/tabs.gif) no-repeat 0px 0px;
	margin: 0px 2px 0px 0px;
	padding: 0px 0px 0px 15px;
	line-height: 20px;
	height: 20px;
	display: block;
	outline: none;
}

.tabs li.current {
	background: url(img/tabs.gif) no-repeat 0 -20px;
	margin-right: 2px;
}

.tabs span {
	float: left;
	display: block;
	background: url(img/tabs.gif) no-repeat right -45px;
	padding: 0px 15px 0px 0px;
}

.tabs .current span {
	background: url(img/tabs.gif) no-repeat right -70px;
}

.tabs a {
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 12px;
}

.tabs a:link, .tabs a:visited, .tabs a:hover {
	color: black;
}

/* Panels */
.panel_wrapper div.panel {
	display: none;
}

.panel_wrapper div.current {
	display: block;
	width: 100%;
	height: 300px;
	overflow: visible;
}

.panel_wrapper {
	border: 1px solid #d8d8d8;
	border-top: 0px;
	padding: 10px;
	padding-top: 5px;
	clear: both;
	background: white;
}

/* Columns */
.column {
	float: left;
}

.properties {
	width: 100%;
}

.properties .column2 {
	text-align: left;
}

/* Titles */
h1, h2, h3, h4 {
	color: #2B6FB6;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}

h3 {
	font-size: 14px;
}

.title {
	font-size: 12px;
	font-weight: bold;
	color: #2B6FB6;
}

/* Dialog specific */
#link .panel_wrapper, #link div.current {
	height: 125px;
}

#image .panel_wrapper, #image div.current {
	height: 200px;
}

#plugintable thead {
	font-weight: bold;
	background: #DDD;
}

#plugintable, #about #plugintable td {
	border: 1px solid #d8d8d8;
}

#plugintable {
	width: 96%;
	margin-top: 10px;
}

#pluginscontainer {
	height: 290px;
	overflow: auto;
}

#colorpicker #preview {
	float: right;
	width: 50px;
	height: 14px;
	line-height: 1px;
	border: 1px solid black;
	margin-left: 5px;
}

#colorpicker #colors {
	float: left;
	border: 1px solid gray;
	cursor: crosshair;
}

#colorpicker #light {
	border: 1px solid gray;
	margin-left: 5px;
	float: left;
	width: 15px;
	height: 150px;
	cursor: crosshair;
}

#colorpicker #light div {
	overflow: hidden;
}

#colorpicker #previewblock {
	float: right;
	padding-left: 10px;
	height: 20px;
}

#colorpicker .panel_wrapper div.current {
	height: 175px;
}
	
#colorpicker #namedcolors {
	width: 150px;
}
	
#colorpicker #namedcolors a {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 1px 1px 0px 0px;
	overflow: hidden;
}

#colorpicker #colornamecontainer {
	margin-top:5px;
}
	
#colorpicker #picker_panel fieldset {
	margin: auto;
	width: 325px;
}