<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<bean id="annotationConfiguration" class="org.compass.annotations.config.CompassAnnotationsConfiguration" />

	<bean id="compass" class="org.compass.spring.LocalCompassBean">
		<property name="resourceDirectoryLocations">
			<list>
				<value>classpath:com/zg</value>
			</list>
		</property>
		<property name="classMappings">
			<list>
				<value>com.zg.entity.Article</value>
				<value>com.zg.entity.Product</value>
			</list>
		</property>
		
		<!-- 索引文件的存储路径 -->
		<property name="connection" value="file://${user.home}/temp/compass" />
		<property name="compassConfiguration" ref="annotationConfiguration" />
		
		<property name="compassSettings">
			<props>
				<prop key="compass.transaction.factory">org.compass.spring.transaction.SpringSyncTransactionFactory</prop>
				<prop key="compass.engine.analyzer.default.type">org.wltea.analyzer.lucene.IKAnalyzer</prop>
			</props>
		</property>

		<property name="transactionManager" ref="transactionManager" />

	</bean>

	<bean id="hibernateGpsDevice" class="org.compass.spring.device.hibernate.dep.SpringHibernate3GpsDevice">
		<property name="name" value="hibernateDevice" />
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="mirrorDataChanges" value="true" />
	</bean>
	
	<!-- 与Hibernate绑定更新索引 -->
	<bean id="compassGps" class="org.compass.gps.impl.SingleCompassGps" init-method="start" destroy-method="stop">
		<property name="compass" ref="compass" />
		<property name="gpsDevices">
			<list>
				<ref local="hibernateGpsDevice"/>
			</list>
		</property>
	</bean>

	<bean id="compassTemplate" class="org.compass.core.CompassTemplate">
		<property name="compass" ref="compass" />
	</bean>

</beans>